---
layout: base.njk
---

{% include "_nav.njk" %}

{% include "_postIntro.njk" %}

<main class="constrained">
  <article>
    <h2>Genre</h2>
    {% if (genreStatement) %}
      <p>{{ genreStatement | safe }}</p>
    {% endif %}
    <p>{{ genreTags }}</p>
    {{ content | safe }}
  </article>
</main